<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Book</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        form {
            border: 3px solid #f1f1f1;
            border-radius: 2px;
        }

        input[type=text], input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        .container {
            padding: 16px;
        }

        .center {
            margin: auto;
            width: 40%;
            height: 10px;
        }

    </style>
</head>
<body>
<h2 style="text-align: center">Buy Book</h2>
<div class="center">
    <form action="/belum" method="post">
        <div class="container">
            <label>
                <input type="hidden" placeholder="" name="BookId" value="{{.ID}}">
            </label>
            <label for="Title"><b>Title</b></label>
            <label>
                <input type="text" placeholder="" name="Title" minlength="5" disabled>
            </label>

            <label for="Author"><b>Author</b></label>
            <label>
                <input type="text" placeholder="" name="Author" minlength="5" disabled>
            </label>

            <label for="Price"><b>Price</b></label>
            <label>
                <input type="number" min="1" placeholder="" name="Price" disabled>
            </label>

            <label for="Discount"><b>Discount %</b></label>
            <label>
                <input type="number" min="0" max="100" placeholder="" name="Discount" disabled>
            </label>

            <label for="Qty"><b>Qty</b></label>
            <label>
                <input type="number" min="0" max="100" placeholder="" name="Qty" >
            </label>

            <button type="submit">Add</button>

        </div>
    </form>
</div>
</body>
</html>
